body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goodButton {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 25px;

}
.badButton {
    background-color: gray;
    color: black;
    padding: 10px;
    border-radius: 25px;
}
#logoutButton {
    display: none;
}