
body {
    background: linear-gradient(180deg, white, blue) fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goodButton {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 25px;
    border: solid white 2px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}
.goodButton:hover {
    transform: scale(1.10);
}
.badButton {
    background-color: gray;
    color: black;
    padding: 10px;
    border-radius: 25px;
}
#logoutButton {
    display: none;
}